<div class="preview preview--form">
    <form class="u-mb-32" [formGroup]="editForm">
        <mat-form-field>
            <mat-label>Firstname</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="editForm.get('firstName').hasError('required')">
                Firstname is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Lastname</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error *ngIf="editForm.get('lastName').hasError('required')">
                Lastname is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phoneNumber" />
            <mat-error *ngIf="editForm.get('phoneNumber').hasError('required')">
                Phone number is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="editForm.get('email').hasError('required') || editForm.get('email').hasError('email')">
                Email is required
            </mat-error>
        </mat-form-field>
    </form>
</div>
<div class="preview preview--actions">
    <button mat-button (click)="goBack()" color="primary">
        Back
    </button>
    <button mat-button [disabled]="editForm.invalid" color="accent" (click)="saveContact()">
        Save
    </button>
</div>